html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #FFB7C5;
}

h1 {
    font-size: 75px;
    color: #855E42;
    display: block;
    text-align: center;
    font-family: Brush Script MT;
}

p {
    font-size: 30px;
    color: #855E42;
    text-align: center;
    font-family: tahoma;
}

img {
    display: block;
    margin: auto;
}

button {
    display: block;
    margin: auto;
}